<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./styles/styles.css">
        <script src="htmx.min.js"></script>
    </head>
    <body>
        <header id="header">
            <h1>Estrazione-OIS</h1>
                <span class="toggle">></span>
            <nav>
                <button hx-get="./pages/main.html" hx-target="#main" hx-trigger="click">Estrazione</button>
                <button hx-get="./pages/conf.html" hx-target="#main" hx-trigger="click">Configurazione</button>
            </nav> 
        </header>
        <main id="main">
            <div id="welcome">
              <section>    
                <h1>Benvenuta!</h1>
                <p>Questa è una piccola applicazione per estrarre nomi da una serie.</p>
                <p>Per cominciare configura modalità e nomi in "Configurazione", poi una volta salvate le impostazioni, vai su "Estrazione"</p>
                <p>Se non è la prima volta che accedi all'app ti consiglio di resettare le impostazioni cliccando il tasto qui sotto "Reset App"</p>
                <button id="reset-app">Reset App</button>
              </section>  
            </div>
        </main>
        <script src="./scripts/app.js"></script>
    </body>
</html>
